/* AdminNav.css */
.admin-nav {
    padding: 1rem;
}

.admin-nav .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f8f9fa !important;
}

.admin-nav .nav-link {
    font-size: 1.1rem;
    margin: 0 0.5rem;
}

.admin-nav .nav-link:hover {
    color: #f8f9fa !important;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.admin-nav .btn-link {
    padding: 0;
    cursor: pointer;
    margin-top: 7px;
}
