footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
  margin-top: 50px;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
footer .logo p {
  margin: 20px 0;
}
footer h3 {
  margin-bottom: 20px;
  font-weight: 500;
}
footer .item {
  display: flex;
  margin-bottom: 30px;
}
footer .item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
footer .item p {
  padding: 10px 20px;
}
footer ul li {
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
footer ul li:nth-last-child(1) {
  border-bottom: none;
}
.legal {
  padding: 15px;
  background-color: #000;
  color: grey;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}
.legal i {
  color: red;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  footer .container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  footer .logo img {
    width: 150px;
    margin: 0 auto;
    display: block;
  }
  footer h3 {
    text-align: center;
  }
  footer .item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .item p {
    padding: 10px 0;
  }
  footer ul li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .legal {
    text-align: center;
  }
}
